<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../Assets/url logo.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <title>About Us</title>

  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbox">
      <div class="navbar">
        <ul>
          <li><a href="aboutUs.html">About Us</a></li>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </nav>

    <!-- Main Section -->
    <div class="main about-us">
      <div class="container">
        <div class="a1">
          <div class="a1-left">
            <h1>About X-Tronic</h1><br>
            <p>
              Welcome to <strong>X-Tronic</strong>, your one-stop shop for
              cutting-edge technology and premium electronic solutions. Established
              with a passion for innovation, we strive to provide our customers with
             the latest in laptops, keyboards, headsets, monitors, and custom PC
             builds.
            </p>

            <p>
              At X-Tronic, we believe in delivering excellence. Our team of experts
              ensures that every product we offer meets the highest standards of
              quality and performance. Whether you're a professional, gamer, or tech
              enthusiast, we have something tailored to meet your needs.
            </p>
          </div>

          <div class="a1-right">
            <img src="../Assets/about_p1.png" alt="about-p1">
          </div>
          

        </div>
        
        <div class="a2">
          <div class="a2-left">
            <img src="../Assets/about_p2.jpeg" alt="about-p2">
          </div>

          <div class="a2-right">
            <h1>Our Mission</h1>
            <p>
              To empower individuals and businesses with reliable, innovative, and
              affordable technology solutions.
            </p><br><br>
            <h1>Why Choose Us?</h1>
            <ul>
               <li>Wide range of premium products</li>
              <li>Exceptional customer support</li>
              <li>Competitive pricing</li>
              <li>Expert advice tailored to your needs</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
    <!-- Footer -->
    <!-- Question, do we really need it here, feel like it's duplicating the Contact Info -->
    <footer>
      <div class="box" style="line-height: 1.6">
        <div class="f1">
          <div class="logo">
            <img src="../Assets/x-tronic.png" alt="" />
          </div>
          <p style="color: #0000006c; margin-bottom: 10px">
            Have Question? Please Contact Us.
          </p>
          <p><i class="fa-solid fa-phone"></i> 012 615 615</p>
          <p><i class="fa-solid fa-phone"></i> 097 615 615</p>
          <p><i class="fa-solid fa-phone"></i> 015 615 615</p>
        </div>
        <div class="f2">
          <h3 style="margin-bottom: 10px">Address</h3>
          <p style="margin-bottom: 15px">
            ផ្ទះលេខ 252lab, មហាវិថី កម្ពុជាក្រោម (១២៨), ភ្នំពេញ
          </p>
          <h3 style="margin-bottom: 10px">Email:</h3>
          <p style="margin-bottom: 10px">xtronic@gmail.com</p>
        </div>
        <div class="f3">
          <h3 style="margin-bottom: 10px">Site Map</h3>
          <p style="margin-bottom: 5px"><a href="laptop.html">LAPTOP</a></p>
          <p style="margin-bottom: 5px"><a href="keybord.html">KEYBOARD</a></p>
          <p style="margin-bottom: 5px"><a href="headset.html">HEADSET</a></p>
          <p style="margin-bottom: 5px"><a href="monitor.html">MONITOR</a></p>
          <p style="margin-bottom: 5px"><a href="pc.html">PC BUILD</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
